.navbar {
    border-bottom: 1px solid #ddd;
}

.logo {
    height: 30px;
    margin-right: 10px;
}

.brandText {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0154AA;
    font-size: 16px;
    font: 600px;
}

.navLink {
    font-size: 0.9rem;
    color: #555;
}

.navLink:hover {
    color: #007bff;
}



.searchInput {
    width: 100%;
    height: 100%;
    color: #737A91;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: transparent;
}

.searchInput:focus {
    box-shadow: none;
    outline: none;
    border: none;
    background-color: transparent;
}

.search_bar_wraper {
    display: flex;
    width: 261px;
    height: 39px;
    border: 1px solid #ddd;
    background-color: #F6F9FF;
    border-radius: 8px;
    align-items: center;
    gap: 12px;
    padding-left: 12px;
}

.search_ico {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4999 17.024L13.9065 14.4306' stroke='%23737A91' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M13.0976 7.57274C13.0928 8.99051 12.5901 10.3615 11.6773 11.4464C10.7645 12.5313 9.49967 13.261 8.10361 13.5083C6.70756 13.7555 5.26902 13.5045 4.03919 12.7991C2.80936 12.0936 1.86641 10.9786 1.37498 9.64874C0.883559 8.31886 0.874896 6.85859 1.35051 5.52297C1.82611 4.18735 2.75577 3.06123 3.97714 2.34126C5.19851 1.62129 6.63397 1.35324 8.03286 1.58389C9.43175 1.81454 10.7052 2.52924 11.6308 3.6032' stroke='%23737A91' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    width: 15.5px;
    height: 15.5px;
    cursor: pointer;
}

.searchButton {
    font-size: 0.9rem;
}

.resumeButton {
    background-color: #0154AA;
    border: none;
    font-size: 0.9rem;
    color: #FFFFFF;
}

.profileImage {
    width: 38px;
    height: 38px;
    object-fit: cover;

}